*{
    margin:0;
    padding: 0;
}
.header{
    height: 50px;
    width: 100%;
    background: linear-gradient(rgba(118, 54, 160, 0.5),rgba(160, 127, 214, 0.5));
    color: hsl(266, 68%, 79%);
    margin-bottom: 0px;
}
.side{
    position: static;
    height: 100vh;
    top: 50px;
    width: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    
}
.side p{
   margin-top: 30px;
    font-size: large;
    color: yellow;
}
.main{
    display: flex;
    color: aquamarine;
}
.flexible {
    display: flex;
    width: 100%;
  
    color: black;
    align-items: center;
    justify-content:center;
}
.bar{
    grid-row:auto;
    display: flex;
    flex-direction: column;
}
.box{
    position: absolute;
    bottom: 220px;
    right: 220px;
    padding: 0px;
    margin-left: 50px;
    width: 50px;
    height: 50px;
    background-color: red
}
.box1{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: red
}

@media  (min-width: 61px) {
   body {
        background-color: lightgreen;

    }  
}
@media  (min-width: 901px) {
   body {
        background-color: green;
}   
}
@media  (min-width: 1201px) {
    body {
        background-color: greenyellow;
    }
    
}





